body {
    padding-top: 5rem;
    /*background-color: red;*/
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;

}

.selector-for-some-widget {
    box-sizing: content-box;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;

}

.grid-item{
    display: block;
    text-align: center;

}

h2{
    background-color: #E00049;
    color: white;
    font-size: 180%;
    padding: 10px;
    color: white;
}

main{
    background-color: white;
    height: 70%;
}

.section{
    border: red solid 5px;
}

.section h2{
    margin-top: 0px;
    padding: 5px;
    text-align: center;
}

.table-cell{
    padding: 10px;
    text-align: center;
}