body {
    width: 100%;
    margin: 0px;
    background-color: #E9F3F8;
}
nav{
    background-color: #E00049;
}

nav div{

    text-align: right;
}

nav img{
    height: 90px;
}

nav ul{

    vertical-align: middle;
    display: inline-flex ;
    text-align: center;
    justify-content: space-evenly;
}

nav ul li{
    padding: 10px;
    display: block;
    vertical-align: middle;
    border-right: solid 1px white;

}

nav ul li:last-child{

    border-right: none;

}

nav a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: "Aleo", "Arial", "Helvetica", "sans-serif";


}

.Afmeld a{
    text-decoration: none;
    color: #002757;
    font-weight: bolder;
    font-family: "Aleo", "Arial", "Helvetica", "sans-serif";

}

.Afmeld{
    padding: 10px;
}

.Aanmeld{
    padding: 10px;
}

.logContainer{
    display: grid;
    grid-template-columns: 50% 50%;
}

#Aanmeld{

    text-decoration: none;
    color: #002757;
    font-family: "Aleo", "Arial", "Helvetica", "sans-serif";
}

.Aanmeld a{
    text-decoration: none;
    color: #002757;
    font-weight: bolder;
    font-family: "Aleo", "Arial", "Helvetica", "sans-serif";

}


.nav-item{

    list-style: none;
}

#Afmeld a{
    margin-left: 80%;
}

a:hover{
    text-decoration: underline;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;

}

.selector-for-some-widget {
    box-sizing: content-box;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
    background-color: white;

}

.grid-item{
    display: block;
    text-align: center;

}

h2{
    background-color: #E00049;
    color: white;
    font-size: 180%;
    padding: 10px;
    color: white;
}

main{

}

.section{
    border: #E00049 solid 5px;
}

.section h2{
    margin-top: 0px;
    text-align: center;
    font-family: "Aleo", "Arial", "Helvetica", "sans-serif";
    color: #ffffff;
    padding: 12px 16px;
    display: block;
    font-weight: 600;
    text-transform: uppercase;
}

.table-cell{
    padding: 10px;
    text-align: center;
    color: #003469;
    font-family: "Novecento", "Arial", "Helvetica", "sans-serif";
    font-size: 2rem;
    text-transform: uppercase;
}

.link{
    font-size: 1.5rem;
    font-family: "Aleo", "Arial", "Helvetica", "sans-serif";
    color: #003469;
    font-size: 140%;
    padding: 10px;
    padding-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

.link:hover{
    text-decoration: underline;
}